.page-header-4 {
    height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10%;
    background-color: white;


    .line {
        width: fit-content;
        height: 8rem;
        position: relative;
        overflow: hidden;

        h1 {
            font-size: 7rem;
            width: 70%;
            color: black;
            transform: translateY(110px);
            margin-bottom: -50px;
        }
    }

    .right {
        height: 100%;
        width: 300px;
        position: absolute;
        right: 0;
        top: 0;

        &:hover {
            cursor: pointer;
        }
    }


}